.trans-icon {
    width: 20px;
    height: 20px;
}

.list-item {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: white;

}

.list-container {
    background-color: rgb(159, 235, 175);
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
}

.list-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
}