.trans-icon {
    width: 20px;
    height: 20px;
}

.list-item {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    /* width: 400px; */

}

.list-container {
    background-color: rgb(159, 235, 175);
    /* height: 300px; */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* overflow-x: auto;
    overflow-y: auto; */
    width: 'auto';    
    border-style: solid;
    color: rgb(159, 235, 175);
    
}

.list-title {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}

.pie-size {
    width: 400px;
}

.overdiv {
    width: 'auto';    
}

.loading-spinner {
    color: rgb(250, 103, 4);
    text-align: center;
    background-image: url('./loading-boxes.gif');
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
   
}