/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scanner {
    min-height: 100vh;
    position: relative;
    background-color: #313131;
}
.camera {
    position: relative; 
}

.result {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.4s;
}
.result.hasPhoto {
    left: 0;
}

capture { 
    position: absolute;
    bottom: 20px;
    left: 20px;
}

video {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.captureButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    appearance: none;
    border: none; 
    padding: 8px 16px;

}
.closeButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    appearance: none;
    border: none; 
    padding: 8px 16px;
} */