.item {
    display: flex;
    border: 4px solid black;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.item div {
    border: 0.5px solid black;
    margin-right: 5px;
}

input[type="number"] {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.inventoryAddForm {
    background-color: bisque;
    display: inline;
}