.Navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    background-color: #81A684;
    height: 70px;
    max-width: max-content;
    /* @media (min-width: 700px) {
      flex-direction: row;
    }
   */
    /* a {
      padding: 3px 7px;
      color: var(--white-color);
      text-decoration: none;
      padding-top: 6px;
      flex-direction: column;
      background-color: rgb(6, 92, 63);
      a {
        background-color: rgb(6, 92, 63);
      }
    } */
  }

  .menu-item {
    flex-direction: column;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b8e2be;
    text-align: center;
    margin: 4px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    border-radius: 8px;
    width: 75px;
    color: rgb(0, 0, 0);
  }
  